<div style="height: 60px;">
    <% if(success && success.length != 0){ %>
    <div class="alert alert-success alert-dismissible fade show"  role="alert">
        <div><%= success %></div>
         <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% }else if(error && error.length != 0) { %> 
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <div><%= error %></div>
         <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% } %> 
</div>

