<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Foodie Ground</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <link href="https://demos.creative-tim.com/soft-ui-design-system/assets/css/nucleo-icons.css" rel="stylesheet" />
    <link href="https://demos.creative-tim.com/soft-ui-design-system/assets/css/nucleo-svg.css" rel="stylesheet" />
    <link rel="stylesheet" href="/stylesheets/theme-landing.css">
    <link rel="stylesheet" href="/stylesheets/loopple.css">
</head>
    <%- include('./partials/navbar') %>   
<body>
    <header class="">
        <div class="page-header min-vh-75 position-relative">
            <div class="oblique position-absolute top-0 h-100 d-md-block d-none">
                <div class="oblique-image bg-cover position-absolute fixed-top ms-auto h-100 z-index-0 ms-n8" style="background-image:url(https://images.unsplash.com/photo-1597345637412-9fd611e758f3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80)"></div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7 d-flex justify-content-center text-md-start text-center flex-column">
                        <h3 class="text-gradient text-danger mb-0" spellcheck="false">The Only Map For Foodies and Vendors</h3>
                        <h1 class="mb-4 text-capitalize">Find the hidden food vendor near you</h1>
                        <p class="pe-md-5 me-md-5 mb-4">The problem happens when we have multiple desires. When we have fuzzy desires. When we want to do ten different things and we’re not clear about which is the one we care about. </p>
                        <div class="buttons">
                            <a href="/stores"><button type="button" class="btn bg-gradient-danger mt-4">Explore</button></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </header>
  
    <footer class="footer py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 mb-5 mb-lg-0">
                    <h6 class="text-uppercase mb-2">Foodie Ground</h6>
                    <p class="mb-4 pb-2">
                        The new map for hidden foodie spots near you.
                    </p>
                    <a href="https://github.com/Kevin2211/foodie-ground" class="text-secondary me-xl-4 me-3">
                        <span class="text-lg fab fa-github" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
            <hr class="horizontal dark mt-lg-5 mt-4 mb-sm-4 mb-1">
            <div class="row">
                <div class="col-8 mx-lg-auto text-lg-center">
                    <p class="text-sm text-secondary">
                        Copyright © 2022 Foodie Ground 
                    </p>
                </div>
            </div>
        </div>
    </footer>

    
    <script src="https://demos.creative-tim.com/soft-ui-design-system-pro/assets/js/core/bootstrap.min.js" type="text/javascript"></script>
    <script src="https://demos.creative-tim.com/soft-ui-design-system/assets/js/soft-design-system.min.js?v=1.0.5" type="text/javascript"></script>
    <script src="https://demos.creative-tim.com/soft-ui-design-system-pro/assets/js/plugins/countup.min.js" type="text/javascript"></script>
    <script src="https://demos.creative-tim.com/soft-ui-design-system-pro/assets/js/plugins/flatpickr.min.js"></script>

</body>