body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}
#map{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: none;
}


.card{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: none;
}
#register-img{
    object-fit: cover;
    width: 100%;
    min-height: 100%;
    border-radius: 10px;
}
