<%- layout('layouts/boilerplate.ejs') %>
<div class="row">
    <div class="col-lg-4 col-md-4" style="position: relative;">
        <img id="register-img" src="/icons/login.jpg" alt="">
    </div>
    <div class="card col-lg-8 col-md-8">
   
    <form action="/users/login" method="post" class="needs-validation mx-auto my-auto" style="width: 50%;" novalidate>
            <h3 class="text-center mt-3">Login</h3> 
        <div class="mb-3">
            <label class="form-label" for="username">Username:</label>
            <input type="text" class="form-control" name="username" id="username" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="mb-3">
            <label class='form-label' for="password">Password:</label>
            <input type="password" class="form-control" name="password" id="password" required>      
            <div class="valid-feedback">
                Looks good!
            </div>      
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-success">Login</button>
        </div>
        
    </form>

    </div>
</div>

</form>